input {
    text-align: center;
}

progress {
    width: 100% !important;
}

header{
    height: 35px;

}

.background{
    background-color: hotpink;
}

footer{
    position: absolute;
    bottom: 0;
    height: 35px;
}

.aufgabe{
    margin-top: 30px;
}

#made div:nth-child(odd) {
    background-color: deeppink;
    color: white;
    font-size: 20px;
    text-align: center;
}

#made div:nth-child(even) {
    background-color: pink;
    color: white;
    font-size: 20px;
    text-align: center;
}